.FoodFilterForm {
  lost-column: 10/12;
  margin: 0.6% 0 0;
  color: #888;
  font-size: responsive 14px 18px;

  select {
    font-size: responsive 14px 18px;
    margin: 0 0.5rem;
    appearance: none;
    padding: 0 10px;
    line-height: 2;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.15);
    background: none;
    transition: all 2s ease;
    min-width: 100px;
  }
}
