.FoodCreateForm{
    width: 100%;
    vertical-align: top;
    float: left;
    color: #888;
    font-size: responsive 14px 18px;
    lost-column: 12/12;
}
.column{
    lost-column: 3/12;
    float: left;
}

.newFoodForm{
    input{
        lost-column: 7/12 1;
    }
    button{
        lost-column: 5/12;
    }
}
input, select{
    appearance: none;
}
input{
    padding: 0 1rem;
    margin: 0 0 0.4rem;
    font-size: responsive 14px 22px;
    line-height: 2;
}
select{
    font-size: responsive 18px 28px;
    line-height: 2;
    border: none;

    &:focus{
        outline: 0;
    }
    option{
        padding: 0.2rem 1rem;
    }
}
button{
    appearance: none;
    padding: 0.5rem 1rem;
    line-height: 2;
    border: none;
    background: #000;
    color: #eee;
    font-size: responsive 10px 16px;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    cursor: pointer;

    &:hover{
        background: #333;
    }
}
.button--red{
    background: red;
}
